* {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url('../img/WHI_flowers.png');
    background-size: cover;
}

body {
    background-color: #f8c0f3;
}

#projects-cards {
    padding: 20px;
    margin-left: 25px;
    max-height: 50px;
}

/* .card {} */

.navbar a {
   color : black;
   
}

.card-img-top {
    padding-bottom: 10px;
    /* max-height: 50px; */
    margin-bottom: 10px;
}

.col {
    display: flex;
}


.github {
    width: 23%;
}