/* * {
    box-sizing: border-box;
} */


/* TEST CSS HAMBURGER */

.navbar {
    background-color: #f8c0f3;
}

h3 a {
    color: #fff;
}

h3 a:hover {
    color: #f8c0f3;
}

#md-nav {
    display: none;
}

/* END TEST CSS HAMBURGER */

.jumbotron {
    background-image: url('../img/WHI_flowers.png');
    background-size: cover;
    /* width: 105vw; */
}

body {
    background-color: #f8c0f3;

    /* test */
    /* padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex; */
    align-items: flex-end;
    width: 100vw;
    overflow-x: hidden;
}

#projects-cards {
    padding: 20px;
    /* margin-left: 15px; */
    margin-right: 10px;
    max-height: 50px;
}

.card {
    padding: 10px;
    max-width: 500px;
}

.navbar a {
   color : black;
   
}

.card-img-top {
    padding-bottom: 10px;
    /* max-height: 50px; */
    margin-bottom: 10px;
}

.col {
    display: flex;
}

#about-section, 
#skills-section {
    margin-top: 30px;
}


#button-link {
    text-decoration: none;
    
}

#link-btn {
    margin-top: 50px;
}

.github {
    width: 23%;
}

/* .img-fluid {
    max-width: 80%;
    height: auto; */
    /* border-radius: 50%; */
/* } */

/* #prof-pic {
    max-width: 175px;
    border-radius: 50%;
    align-self: center;
    height: 200px;
    width: auto;
} */


.custom-btn {
    background-color: #f8c0f3;
}

.btn-outline-dark {
    /* color: #007bff;
    background-color: transparent; */
    color: black;
    background-color: #f8c0f3;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    background-color: black;
    color: #f8c0f3;
    cursor: pointer;
}

/* testing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #cfd2d6; */
}
footer{
	/* position: absolute; */
	/* bottom: 0; */
	/* background: black; */
	height: auto;
	width: 100vw;
	padding: 20px 0 0 0;
}
/*content*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1rem 0 3rem 0; */
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    /* border: 1.1px solid white; */
    padding: 5px;
    border-radius: 50%;
}

/* copyright*/
.footer-copyright{
    /* background: #000; */
    width: 100vw;
    /* padding: 20px 20px 50px 20px; */
    /* color: #cfd2d6; */
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}

/*Tablet Size*/
@media (min-width: 768px) {

    #small-nav {
        display: none;
    }

    #md-nav {
        display: block;
    }

    /* #prof-pic {
        max-width: 175px;
        border-radius: 50%;
        align-self: center;
    } */

    .img-fluid {
        max-width: 75%;
        height: auto;
    }

    body {
        overflow: scroll;
    }
}

/* Laptop Size */
@media (min-width: 1024px) {
    .img-fluid {
        max-width: 85%;
    }
    body {
        overflow-x: hidden;
    }
}





/* //Need to fix picture in laptop size as well as overflow - not mobile first 
//add email
//Fix Navigatin in tablet mode */